<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.2.0/bokeh.min.css" rel="stylesheet" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.2.0/bokeh-widgets.css" rel="stylesheet" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.2.0/bokeh-tables.css" rel="stylesheet" type="text/css">
  -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico" />
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
  <title>Research Collaboration Finder</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Research Collaboration Finder</h1>

        <form action="" method="POST">
          <div class="form-group">
            <label>Describe Research Interest</label>
            <input type="text" class="form-control" id="query" name="query"
              placeholder="Enter brief project description here..." />
          </div>
          <br />
          <label for="university">Select University</label>
          <select name="university" id="university">
            <option value="uum">Universiti Utara Malaysia</option>
            <option value="upm">Universiti Putra Malaysia</option>
            <option value="ukm">Universiti Kebangsaan Malaysia</option>
            <option value="um">Universiti Malaya</option>
          </select>
          <button id="submit" type="submit" class="btn btn-primary">Search</button>
        </form>

        <table class="table">
          <thead>
            <tr>
              <th>Potential Collaborator</th>
              <th>Compatibility Rate</th>
            </tr>
          </thead>
          {% for person in result %}
          <tr>
            <td> {{ person[0] }} </td>
            <td> {{ person[1] }}&percnt; </td>
          </tr>
          {% endfor %}
          <tbody id="result"></tbody>
        </table>
      </div>
    </div>
  </div>
</body>



<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.2.3/bokeh.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.2.3/bokeh-widgets.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.2.3/bokeh-tables.js"></script> -->
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.3.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $("#hide").click(function () {
      $("p").hide();
    });
    $("#show").click(function () {
      $("p").show();
    });
  });
</script>

</html>